<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
    <div th:replace="sidebar :: mySidebar"></div>
    <!--- Navbar ends here--->
    <!-- Form starts from here -->
    <div id="layoutSidenav_content">
        <div class="container">
            <br>
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
            <hr>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Edit Inventory Item</a></li>
            </ol>
            <form method="post" th:action="@{/ItemCreate}"
                  th:object="${itemDto}">
                <fieldset class="border p-2">
                    <legend class="w-auto"> Edit Inventory Item</legend>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('global')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input class="form-control" th:field="*{itemId}" type="hidden">
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input class="form-control"
                                                                                                name="itemName"
                                                                                                placeholder="Enter Item Name"
                                                                                                th:field="*{itemName}"
                                                                                                type="text">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{itemName}"
                                 th:if="${#fields.hasErrors('itemName')}"></div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Price</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input class="form-control"
                                                                                                name="itemPrice"
                                                                                                placeholder="Enter Item Price"
                                                                                                step="any"
                                                                                                th:field="*{itemPrice}"
                                                                                                type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{itemPrice}"
                                 th:if="${#fields.hasErrors('itemPrice')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Quantity</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input
                                    class="form-control" name="itemQuantity"
                                    placeholder="Enter Item Quantity" step="1" th:field="*{itemQuantity}"
                                    type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{itemQuantity}"
                                 th:if="${#fields.hasErrors('itemQuantity')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Fine Rate</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input class="form-control"
                                                                                                name="fineRate"
                                                                                                placeholder="Enter Fine Rate"
                                                                                                step="any"
                                                                                                th:field="*{fineRate}"
                                                                                                type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{fineRate}"
                                 th:if="${#fields.hasErrors('fineRate')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Invoice Number</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input
                                    class="form-control" name="invoiceNumber"
                                    placeholder="Enter Invoice Number" step="1" th:field="*{invoiceNumber}"
                                    type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{invoiceNumber}"
                                 th:if="${#fields.hasErrors('invoiceNumber')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Vendor Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input class="form-control"
                                                                                                name="vendorName"
                                                                                                placeholder="Enter Vendor Number"
                                                                                                step="1"
                                                                                                th:field="*{vendorName}" type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{vendorName}"
                                 th:if="${#fields.hasErrors('vendorName')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Type</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <select
                                    class="form-control" name="itemType" th:field="*{itemType}">
                                <option th:each="itemType : ${itemTypeList}"
                                        th:text="${itemType.typeName}"
                                        th:value="${itemType.typeName}">
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-success float-right" id="addBtn"
                                    type="submit">Edit Item
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- Form ends here -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="footer :: myFooter"></div>
</body>
</html>
