<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
    <div th:replace="sidebar :: mySidebar"></div>
    <!--- Navbar ends here--->
    <!-- Form starts from here -->
    <div id="layoutSidenav_content">
        <div class="container">
            <br>
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
            <hr>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Edit Repair Item</li>
            </ol>
            <form method="post" th:action="@{/ItemRepairCreate}"
                  th:object="${itemRepairDto}">
                <div class="form-group">
                    <input class="form-control" th:field="*{id}" type="hidden">
                </div>
                <div class="alert alert-danger"
                     th:if="${#fields.hasErrors('global')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
                    </ul>
                </div>
                <fieldset class="border p-2">
                    <legend class="w-auto"> Edit Repair Item</legend>
                    <div class="form-group">
                        <label for="">Item ID</label> <input class="form-control"
                                                             min="1" placeholder="Item ID"
                                                             th:field="*{itemId}"
                                                             type="number">
                        <div class="alert alert-danger"
                             th:errors="*{itemId}" th:if="${#fields.hasErrors('itemId')}"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Vendor ID</label> <input class="form-control"
                                                               min="1" placeholder="Vendor ID"
                                                               th:field="*{vendorId}" type="number">
                        <div class="alert alert-danger"
                             th:errors="*{vendorId}" th:if="${#fields.hasErrors('vendorId')}"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Item Price</label> <input class="form-control"
                                                                min="0" placeholder="Item Price"
                                                                step="any" th:field="*{price}" type="number">
                        <div class="alert alert-danger"
                             th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Repair Cost</label> <input class="form-control"
                                                                 min="0" placeholder="Repair Cost"
                                                                 step="any" th:field="*{repairCost}" type="number">
                        <div class="alert alert-danger"
                             th:errors="*{repairCost}"
                             th:if="${#fields.hasErrors('repairCost')}"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success float-right" type="submit">Submit</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- Form ends here -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="footer :: myFooter"></div>
</body>
</html>
