<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
    <div th:replace="sidebar :: mySidebar"></div>
    <!-- Form starts from here -->
    <div id="layoutSidenav_content">
        <div class="container">
            <br>
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
            <hr>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Return Return</li>
            </ol>
            <!-- Text input-->
            <form class="needs-validation" method="post"
                  th:action="@{/ItemReturnCreate}" th:object="${itemReturnDto}">
                <div class="alert alert-danger"
                     th:if="${#fields.hasErrors('global')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
                    </ul>
                </div>
                <fieldset class="border p-2">
                    <legend class="w-auto"> Return Item</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item ID</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input class="form-control"
                                                                                                min="1"
                                                                                                name="Item ID"
                                                                                                placeholder="Enter Item ID"
                                                                                                required th:field="*{itemId}"
                                                                                                type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{itemId}" th:if="${#fields.hasErrors('itemId')}"></div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Borrower ID</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
									<span class="input-group-addon"><i
                                            class="glyphicon glyphicon-user"></i></span> <input
                                    class="form-control" min="1"
                                    name="Borrower ID" placeholder="Enter Borrower ID" required
                                    th:field="*{borrowerId}" type="number">
                            </div>
                            <div class="alert alert-danger"
                                 th:errors="*{borrowerId}"
                                 th:if="${#fields.hasErrors('borrowerId')}"></div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-success float-right" type="submit">Submit</button>
                            <button class="btn btn-danger" type="reset">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="footer :: myFooter"></div>
</body>
</html>